{
    "channel" : "{{ Channel }}",
    "icon_emoji" : "{{ IconEmoji }}",
    "username" : "PlexNotifier",
    "response_type" : "{{ResponseType}}",
    "blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "_{{SeriesTitle}}_: *{{Episode.EpisodeNumber}}* was just added on *_{{Server}}_*"
        }
    }]
}
