{
  "channel" : "{{ Channel }}",
  "icon_emoji" : "{{ IconEmoji }}",
  "username" : "PlexNotifier",
  "response_type" : "{{ResponseType}}",
  "blocks": [
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "*{{NrResults}}* new Episodes for *{{ SeriesTitle }}* were added on: _{{Server}}_"
      }
    }
  ]
}
