{
  "channel" : "{{ Channel }}",
  "icon_emoji" : "{{ IconEmoji }}",
  "username" : "PlexNotifier",
  "response_type" : "{{ResponseType}}",
  "blocks": [
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "I've just found *{{NrResults}}* newly added Episodes for *{{ SeriesTitle }}* on {{Server}}:\n\n{{#Episodes}}{{EpisodeNumber}}: *{{EpisodeTitle}}*\n{{/Episodes}}"
      },
      "accessory": {
          "type": "image",
          "image_url": "{{SeriesThumb}}",
          "alt_text": "{{SeriesTitle}}"
      }
    }
  ]
}